/* --- CSS Section --- */
.quiz-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 0px;
  background-color: #fff;
}

.quiz-question {
  font-size: 18px;
  color: #333333;
  margin-bottom: 2px;
  font-weight: bold;
  text-align: left;
}

.quiz-options {
  margin-left: 10px;
  margin-bottom: 12px;
}

.quiz-options p {
  font-size: 16px;
  margin: 4px 0;
  color: #111;
}

.quiz-button {
  display: inline-block;
  text-decoration: none;
  color: #111;
  border: 1px solid #f44336;
  padding: 5px 10px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

.quiz-button:hover {
  color: #fff;
  background: #f44336;
  transition: 0.3s;
}

.quiz-answer {
  display: none;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f0f8ff;
  font-size: 16px;
}

.quiz-answer b {
  color: #0056b3;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}
